.color_theme-primary {
    color: #fc4c02;
}

.background-color_theme-primary {
    background-color: #fc4c02;
    color: white;
}

.color_neutral-primary {
    color: #2d2d32;
}

.color_neutral-primary-alt {
    color: #606065;
}